@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body::-webkit-scrollbar {
    width: 5px;
    background: #2D679C;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #C3E5FA;
    border-radius: 100px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #F2F9FE;
  }
  
}
  